
<p></p>
<div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @user.username %></h5>
        <p class="card-text"><%= @user.name %></p>
      </div>
      <% if user_signed_in? %>
        <% if current_user.following?(@user) %>
          <%= link_to "Unfollow", unfollow_user_path(@user.username), method: :delete, class:"card-footer btn" %>
        <% else %>
          <%= link_to "Follow", follow_user_path(@user.username), method: :post, class:"card-footer btn" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-8">

    <div class="list-group">
      <% @tweets.each do |tweet| %>
        <%= link_to tweet, class: "list-group-item list-group-item-action" do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= tweet.user.username %></h5>
          </div>
          <p class="mb-1"><%= tweet.content %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
