
<table class="table table-striped table-bordered table-dark ">
  <thead>
    <tr>
      <th>Beers</th>
      <th>ABV</th>
      <th>Style</th>
      <th>5 oz</th>
      <th>10 oz</th>
      <th>16 oz</th>
      <th>32 oz</th>
      <th>64 oz</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>


      <tr>
      

          <td><%= beer.name %></td>
          <% if beer.abv == 0 %>
          <td>NA</td>
          <% else %>
          <td><%= beer.abv %>%</td>
          <% end %>
          <td><%= beer.style %></td>
          <td>$<%= beer.oz5 %></td>
          <td>$<%= beer.oz10 %></td>
          <td>$<%= beer.oz16 %></td>
          <td>$<%= beer.oz32 %></td>
          <td>$<%= beer.oz64 %></td>


      </tr>



    <% end %>
  </tbody>
</table>
