<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @beer.name %>
  </p>

  <p>
    <strong>Abv:</strong>
    <%= @beer.abv %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= @beer.style %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @beer.price %>
  </p>


  <%= link_to 'Back', beers_path %>
</div>
